# IDEs
.idea/

# Hugo
/resources/
public/
jsconfig.json
node_modules/

#Mac
.DS_Store
content/publication/.DS_Store
config/_default/.Rhistory
content/publication/2025-cutler-et-al/.Rhistory
content/publication/2025-mackenzie-robinson/.Rhistory
content/publication/2026-mackenzie-robinson/.Rhistory
content/publication/.DS_Store
content/publication/2025-tabachnick-mackenzie/.Rhistory
content/publication/.DS_Store
